.products {
    width: 100%;
    padding: 50px 0 100px;
}

.products-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-content__title {
    color: var(--colorDark);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 50px;
    text-align: center;
}

.products-content__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 35px;
}

.products-content__item {
    width: 100%;
    max-width: 210px;
    height: 290px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    border-radius: var(--lowRadius);
    box-shadow: var(--lowShadow);
    background-color: var(--bgMain);
    align-items: flex-start;
}

.products-content__item--sale {
    padding: 6px;
    background: #FF0000;
    border-radius: var(--lowRadius);
    box-shadow: var(--lowShadow);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -10px;
    top: -10px;
}

.products-content__item--sale span {
    color: var(--colorLight);
    font-size: 14px;
    font-weight: 700;
}

.products-content__item:hover::before {
    background-color: var(--btnMain);
    transform: translateY(-5px);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

.products-content__item::before {
    content: '';
    display: flex;
    position: absolute;
    width: 100px;
    height: 4px;
    border-radius: var(--lowRadius);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    background-color: var(--bgMain);
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.5s;
}

.products-content__item--img {
    width: 100%;
    height: 145px;
    object-fit: contain;
    margin-bottom: 15px;
}

.products-content__item--name {
    color: var(--colorDark);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.products-content__item--discount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 10px;
}

.products-content__item--price {
    color: var(--colorLight);
    font-size: 14px;
    font-weight: 700;
    border-radius: var(--lowRadius);
    box-shadow: var(--lowShadow);
    background-color: var(--btnIncrease);
    padding: 2px 6px;
}

.products-content__item--price--old {
    color: var(--colorDark);
    font-weight: 700;
    font-size: 13px;
    text-decoration: line-through;
    opacity: 0.4;
}

.products-content__box {
    width: 100%;
    height: calc(100% - 32px);
    cursor: pointer;
}

.products-content__item--btn {
    width: 100%;
    padding: 8px;
    margin-top: auto;
    height: 32px;
}


.product__modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

.product__modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--bgMain);
    border-radius: var(--lowRadius);
    box-shadow: var(--mainShadow);
    max-width: 740px;
    height: 260px;
    width: 90%;
    margin: 0 25px;
}

.product__modal-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
}

.product__modal-img {
    flex: 1;
    max-width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__modal-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product__modal-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 8px;
}

.product__modal-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--btnMain);
}

.product__modal-title span {
    color: var(--colorDark);
}

.product__modal-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product__modal-price {
    font-size: 18px;
    font-weight: bold;
    color: var(--btnMain);
}

.product__modal-price span {
    color: var(--colorDark);
}

.product__modal-count {
    font-size: 14px;
    font-weight: bold;
    text-decoration: line-through;
    color: var(--btnActive);
}

.product__modal-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.product__modal-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -10px;
    top: -30px;
    background: var(--btnMain);
    border-radius: var(--lowRadius);
    box-shadow: var(--lowShadow);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.product__modal-sale {
    position: absolute;
    background: var(--btnMain);
    border-radius: var(--lowRadius);
    box-shadow: var(--lowShadow);
    color: var(--colorLight);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px;
    left: -10px;
    top: -10px;
    font-size: 14px;
    font-weight: 700;
}

.product__modal-btn {
    margin-top: auto;
}


.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
}

.quantity-control__btn {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: none;
    background-color: var(--btnMain);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: center;
}

.quantity-control__quantity {
    width: calc(100% - 70px);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.quantity-control__btn--decrease {
    background-color: var(--btnMain);
}

.quantity-control__btn--increase {
    background-color: var(--btnIncrease);
}

.quantity-control__btn--increase:hover {
    background-color: var(--btnIncreaseHover);
}

@media (max-width: 960px) {
    .products-content__wrapper {
        column-gap: 54px;
    }
}

@media (max-width: 768px) {
    .products-content__wrapper {
        column-gap: 4%;
    }

    .products-content__item {
        width: 48%;
        max-width: unset;
    }
}

@media (max-width: 576px) {
    .product__modal-content {
        flex-direction: column;
        align-items: center;
        padding: 10px 12px 15px;
    }

    .product__modal-img {
        max-width: 100%;
        max-height: 300px;
        margin-bottom: 20px;
    }

    .product__modal-details {
        width: 100%;
    }

    .product__modal-btn {
        width: 100%;
        text-align: center;
    }

    .product__modal-wrapper {
        height: auto;
        max-width: 400px;
        width: 100%;
        margin: 0 15px;
    }

    .product__modal-close {
        width: 32px;
        height: 32px;
        right: -10px;
        top: -20px;
    }
    .product__modal-close img {
        width: 100%;
        height: 100%;
    }
    .product__modal-title {
        font-size: 18px;
    }
    .product__modal-price {
        font-size: 14px;
    }
    .product__modal-count {
        font-size: 12px;
    }
}

@media (max-width: 460px) {
    .products-content__item {
        width: 100%;
        max-width: unset;
    }
}