.products {
    width: 100%;
    padding: 50px 0 100px;
}

.products-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-content__title {
    color: var(--colorDark);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 50px;
    text-align: center;
}

.products-content__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 35px;
}

.products-content__item {
    width: 100%;
    max-width: 210px;
    height: 310px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    border-radius: var(--lowRadius);
    box-shadow: var(--lowShadow);
    background-color: var(--bgMain);
    align-items: flex-start;
}

.products-content__item--sale {
    padding: 6px;
    background: #FF0000;
    border-radius: var(--lowRadius);
    box-shadow: var(--lowShadow);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -10px;
    top: -10px;
}

.products-content__item--sale span {
    color: var(--colorLight);
    font-size: 14px;
    font-weight: 700;
}

.products-content__item:hover::before {
    background-color: var(--btnMain);
    transform: translateY(-5px);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

.products-content__item::before {
    content: '';
    display: flex;
    position: absolute;
    width: 100px;
    height: 4px;
    border-radius: var(--lowRadius);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    background-color: var(--bgMain);
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.5s;
}

.products-content__item--img {
    width: 100%;
    height: 145px;
    object-fit: contain;
    margin-bottom: 15px;
}

.products-content__item--name {
    color: var(--colorDark);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.products-content__item--discount {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* align-items: center;  */
    align-items: flex-start;
    column-gap: 10px;
}

.products-content__item--price {
    color: var(--colorLight);
    font-size: 14px;
    font-weight: 700;
    border-radius: var(--lowRadius);
    box-shadow: var(--lowShadow);
    background-color: #FF0000;
    padding: 2px 6px;
}

.products-content__item--price--old {
    color: var(--colorDark);
    font-weight: 700;
    font-size: 13px;
    text-decoration: line-through;
    opacity: 0.4;
}

.products-content__box {
    width: 100%;
    height: calc(100% - 32px);
}

.products-content__item--btn {
    width: 100%;
    padding: 8px;
    margin-top: auto;
    height: 32px;
}

.product__modal {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    display: none;
    justify-content: center;
    align-items: center;
}

.product__modal-wrapper {
    width: 100%;
    max-width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 200;
    margin: 0 25px;
    row-gap: 10px;
    box-shadow: var(--mainShadow);
    background-color: var(--bgMain);
    border-radius: var(--lowRadius);
}

.product__modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 8px;
}

.product__modal-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.product__modal-block {
    display: flex;
    flex-direction: column;
}

.product__modal-count {
    color: var(--colorDark);
    font-weight: 700;
    font-size: 13px;
    text-decoration: line-through;
    opacity: 0.4;
}

.product__modal-img {
    height: 300px;
    width: 100%;
}

.product__modal-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product__modal-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -10px;
    top: -30px;
    background: var(--btnMain);
    border-radius: var(--lowRadius);
    box-shadow: var(--lowShadow);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}

@media (max-width: 960px) {
    .products-content__wrapper {
        column-gap: 54px;
    }
}

@media (max-width: 768px) {
    .products-content__wrapper {
        column-gap: 4%;
    }

    .products-content__item {
        width: 48%;
        max-width: unset;
    }
}

@media (max-width: 460px) {
    .products-content__item {
        width: 100%;
        max-width: unset;
    }
}