:root {
    /* --btnMain: #005BFF;
    --btnActive: #0047cb;
    --btnHover: #0047cb; */
    --btnMain: #ff2f2d;
    --btnActive: #cb2424;
    --btnHover: #cb2424;
    --btnIncrease: #4caf50;
    --btnIncreaseHover: #388e3c;
}